%header
  %p
    %a{ href: "/" } alexative.com
    notes - notes associated with Alex.

#notes
  %a{ href: "#!6762806" }

:javascript
  var printGist = function(gistId, gist) {
    var note = $('<article id="#!' + gistId + '"></article>');
    note.append('<link rel="stylesheet" type="text/css" href="https://gist.github.com' + gist.stylesheet + '">');
    note.append('<h2>' + gist.description + '</h2>');
    note.append(gist.div);
    $('#notes').append(note);
  };

  var requestGist = function(gistId) {
    $.ajax({
        url: 'https://gist.github.com/' + gistId + '.json',
        dataType: 'jsonp',
        success: function(gist){ printGist(gistId, gist); }
    });
  };

  $('#notes a').each(function(i, link){
    var gistId = $(link).attr('href').split("!").pop();
    requestGist(gistId);
  })
