p My name is Alexander Glushkov and I'm doing web development since 2006.

p I occasionally post to <a href="https://blg.ctln.pw" target="_blank">blog</a>.

p Feel free to contact me at <a href="mailto:cutalion@gmail.com">cutalion@gmail.com</a>.

p
  |
    I am also @cutalion at
    <a href="https://github.com/cutalion" target="_blank" class="github">github</a>,
    <a href="http://www.linkedin.com/in/cutalion" target="_blank" class="linkedin">linkedin</a>,
    <a href="http://stackoverflow.com/users/376378/cutalion" target="_blank" class="stackoverflow">stackoverflow</a>
    and <a href="https://twitter.com/cutalion" target="_blank" class="twitter">twitter</a>
