%header
  %p alexative.com - (smth) associated with Alex.

%nav
  %a{href: "http://blog.alexative.com"} Blog

%q
  He’s an inspirer and the mentoring pastor. Moreover, he is an accepted
  %br/
  evangelist of teamwork and enjoys its social component. In addition,
  %br/
  being a BDD gospeller he is able to advocate its benefits for long.
  %br/
  He’s a big fan of any sort of multiplayer games like tennis or soccer.

%ul.social_icons
  %li.icon>
    %a{href: "https://github.com/cutalion", target: "_blank", class: "github"}
  %li.icon>
    %a{href: "http://www.linkedin.com/in/cutalion", target: "_blank", class: "linkedin"}
  %li.icon>
    %a{href: "http://stackoverflow.com/users/376378/cutalion", target: "_blank", class: "stackoverflow"}
  %li.icon>
    %a{href: "https://twitter.com/cutalion", target: "_blank", class: "twitter"}
  %li.icon>
    %a{href: "https://plus.google.com/115130098031908207793", target: "_blank", class: "google_plus"}
  %li.icon>
    %a{href: "http://www.lastfm.ru/user/cutalion", target: "_blank", class: "lastfm"}

%ul#coderwall_badges
%ul#stackoverflow_badges

%script{:src => "/application.js", type: "text/javascript"}
%script{ src: "//coderwall.com/cutalion.json?callback=renderBadges", type: "text/javascript" }
